ul {
    list-style-type: none;
}

.post-list {
    color: black;
    font-weight: bolder;
}

.navbar {
    display: flex;
    gap: 15px;
    padding: 10px;
    background-color: lightseagreen;
}

.nav-item {
    display: inline-block;
    padding: 10px 10px;
    background-color: seagreen;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
}

.nav-item:hover {
    background-color: darkseagreen;
}

.intro-text {
    font-style: italic;
}

.title-font {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-left: 20px;
    color: seagreen;

    text-decoration: underline wavy lightseagreen;
    text-underline-offset: 5px;
}

.post-container {
    padding: 0 50px;
}

.main-container {
    padding: 0 50px;
}

.tldr {
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}