/* color */
body {
    background-color: black;
}

main, header, footer {
    background-color: black;
}

p, a {
    color: white;
    font-size: 18px;
}

.published-date {
    text-indent: 10%;
}

ol li {
    color: aliceblue;
}

h1 {
    font-family: fantasy;
    font-size: 45px;
    color: lightslategray;
    text-align: center;
}

.navigation {
    text-align: right;
    margin-right: 20px;
}

.quote-text {
    text-align: center;
    text-shadow: 0cap;
}

h3 {
    color: white;
    border-bottom: 1px solid;
    border-color: white;
}

code {
    color: lightslategray;
}

.special-text {
    text-align: center;
    background-color: lightskyblue;
    /* top right bottom left */
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}



/* main layout */
main {
    display: block;
}

article, section {
    flex: 4;
    padding: 5%;
}

.back-home {
    text-align: center;
}

a {
    margin-right: 10px;
    text-decoration: none;
}

footer {
    margin-top: 10px;
}